@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
  text-decoration: none;
  list-style: none;
}

:root {
  --text-color: #000000;
  --bg-color: #e5e5e5;
  --main-color: #f29494;
  --secon-color: #fff;
  --other-color: #868686;
  --big-font: 3rem;
  --p-font: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
body.color {
  --text-color: #fff;
  --bg-color: #08162a;
  --secon-color: #2b3544;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 9%;
  transition: all 0.5s ease;
}
header .logo {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 35px;
  font-weight: 800;
}
header .logo i {
  margin-right: 10px;
  color: var(--main-color);
  font-size: 35px;
}
header .navlist {
  display: flex;
}
header .navlist a {
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 600;
  margin: 0 25px;
  transition: all 0.5s ease;
}
header .navlist a:hover, header .navlist a.active {
  color: var(--main-color);
}
header .h-main {
  display: flex;
  align-items: center;
}
header .h-main .h-btn {
  display: flex;
  padding: 10px 25px;
  color: var(--bg-color);
  background-color: var(--main-color);
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  margin-right: 15px;
  transition: all 0.5s ease;
}
header .h-main .h-btn:hover {
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
}
header .h-main #menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 1001;
  cursor: pointer;
  margin: 15px;
  display: none;
}
header .h-main #darkmode {
  font-size: 25px;
  color: var(--text-color);
  cursor: pointer;
}

section {
  padding: 0 12%;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}
.hero .hero-text h1 {
  font-size: var(--big-font);
  line-height: 1.3;
  font-weight: 800;
}
.hero .hero-text h2 {
  margin: 5px 0 15px;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 22px;
  font-weight: 400;
}
.hero .hero-text p {
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 26px;
  max-width: 550px;
  margin-bottom: 2rem;
}
.hero .hero-text .hero-in {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 1rem;
}
.hero .hero-text .hero-in .box {
  background-color: var(--secon-color);
  padding: 25px 40px;
  border-radius: 1rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
  transition: all 0.5s ease;
  cursor: pointer;
  text-align: center;
}
.hero .hero-text .hero-in .box:hover {
  transform: translateY(-5px) scale(1.1);
}
.hero .hero-text .hero-in .box h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.hero .hero-text .hero-in .box h5 {
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 4px;
}
.hero .hero-text .hero-in .box img {
  max-width: 100%;
  height: auto;
}
.hero .hero-img {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.hero .hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.down-arrow {
  position: absolute;
  bottom: 3.5rem;
  right: 9%;
}
.down-arrow i {
  padding: 14px;
  color: var(--bg-color);
  background-color: var(--text-color);
  font-size: 25px;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.down-arrow i:hover {
  background-color: var(--main-color);
  transform: translateY(-5px);
}

@media (max-width: 1385px) {
  header {
    padding: 13px 3%;
  }
  section {
    padding: 0 5%;
  }
  .hero .hero-img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1127px) {
  :root {
    --big-font: 2.5rem;
    --p-font: 15px;
  }
  .hero .hero-text .hero-in .box {
    padding: 15px 20px;
  }
  .hero .hero-text .hero-in .box h3 {
    font-size: 1.3rem;
    margin-bottom: 2px;
  }
  .hero .hero-text .hero-in .box h5 {
    font-size: 14px;
  }
}
@media (max-width: 1005px) {
  section {
    padding: 60px 5%;
  }
  .hero {
    grid-template-columns: 1fr;
    height: auto;
  }
  .hero .hero-text {
    order: 1;
    text-align: center;
  }
  .hero .hero-text p {
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .hero .hero-img {
    width: auto;
    height: auto;
    margin: auto;
  }
  .hero .hero-img img {
    width: 100%;
    max-width: 600px;
  }
  .down-arrow {
    display: none;
  }
}
@media (max-width: 970px) {
  header {
    padding: 10px 3%;
    background-color: var(--secon-color);
  }
  header .navlist {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #000;
    transition: all 0.5s ease;
    text-align: center;
  }
  header .navlist.active {
    top: 100%;
  }
  header .navlist a {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin: 0.8rem 1.8rem;
    color: var(--secon-color);
  }
  header .h-main #menu-icon {
    display: initial;
  }
}
@media (max-width: 700px) {
  .hero .hero-text .hero-in {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, auto));
    gap: 18px;
  }
  .hero .hero-text .hero-in .box {
    padding: 10px 30px;
  }
  header .h-main .h-btn {
    padding: 6px 8px;
    margin-right: 8px;
  }
}/*# sourceMappingURL=style.css.map */